FinTrakBanking.ThirdPartyIntegration/Connected Services/CRCWebService/liverequestinvoker.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://crcnigeria.net/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://crcnigeria.net/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://crcnigeria.net/">
      <s:element name="PostRequest">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strRequest" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strUserID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PostRequestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostRequestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="PostRequestSoapIn">
    <wsdl:part name="parameters" element="tns:PostRequest" />
  </wsdl:message>
  <wsdl:message name="PostRequestSoapOut">
    <wsdl:part name="parameters" element="tns:PostRequestResponse" />
  </wsdl:message>
  <wsdl:message name="PostRequestHttpGetIn">
    <wsdl:part name="strRequest" type="s:string" />
    <wsdl:part name="strUserID" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PostRequestHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="PostRequestHttpPostIn">
    <wsdl:part name="strRequest" type="s:string" />
    <wsdl:part name="strUserID" type="s:string" />
    <wsdl:part name="strPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PostRequestHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="LiveRequestInvokerSoap">
    <wsdl:operation name="PostRequest">
      <wsdl:input message="tns:PostRequestSoapIn" />
      <wsdl:output message="tns:PostRequestSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LiveRequestInvokerHttpGet">
    <wsdl:operation name="PostRequest">
      <wsdl:input message="tns:PostRequestHttpGetIn" />
      <wsdl:output message="tns:PostRequestHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="LiveRequestInvokerHttpPost">
    <wsdl:operation name="PostRequest">
      <wsdl:input message="tns:PostRequestHttpPostIn" />
      <wsdl:output message="tns:PostRequestHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="LiveRequestInvokerSoap" type="tns:LiveRequestInvokerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostRequest">
      <soap:operation soapAction="http://crcnigeria.net/PostRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LiveRequestInvokerSoap12" type="tns:LiveRequestInvokerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="PostRequest">
      <soap12:operation soapAction="http://crcnigeria.net/PostRequest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LiveRequestInvokerHttpGet" type="tns:LiveRequestInvokerHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="PostRequest">
      <http:operation location="/PostRequest" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="LiveRequestInvokerHttpPost" type="tns:LiveRequestInvokerHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="PostRequest">
      <http:operation location="/PostRequest" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiveRequestInvoker">
    <wsdl:port name="LiveRequestInvokerSoap" binding="tns:LiveRequestInvokerSoap">
      <soap:address location="https://webserver.creditreferencenigeria.net/crcweb/liverequestinvoker.asmx" />
    </wsdl:port>
    <wsdl:port name="LiveRequestInvokerSoap12" binding="tns:LiveRequestInvokerSoap12">
      <soap12:address location="https://webserver.creditreferencenigeria.net/crcweb/liverequestinvoker.asmx" />
    </wsdl:port>
    <wsdl:port name="LiveRequestInvokerHttpGet" binding="tns:LiveRequestInvokerHttpGet">
      <http:address location="https://webserver.creditreferencenigeria.net/crcweb/liverequestinvoker.asmx" />
    </wsdl:port>
    <wsdl:port name="LiveRequestInvokerHttpPost" binding="tns:LiveRequestInvokerHttpPost">
      <http:address location="https://webserver.creditreferencenigeria.net/crcweb/liverequestinvoker.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>