FinTrakBanking.ThirdPartyIntegration/Connected Services/CRCWebServiceNew/crcweb.xsd

<?xml version="1.0" encoding="utf-8"?>
<xsd:schema xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:tns="http://crcnigeria.net/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" elementFormDefault="qualified" targetNamespace="http://crcnigeria.net/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element ibmSchExtn:docRoot="true" name="PostRequest">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="strRequest" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="strUserID" type="xsd:string" />
        <xsd:element minOccurs="0" maxOccurs="1" name="strPassword" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element ibmSchExtn:docRoot="true" name="PostRequestResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element minOccurs="0" maxOccurs="1" name="PostRequestResult" type="xsd:string" />
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="string" nillable="true" type="xsd:string" />
</xsd:schema>